<h2>All Records</h2>


<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Date</th>
      <th>Distance</th>
      <th>Time</th>
      <th>Average speed</th>
      <th>...</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let joggingInfo of joggingData">
      <td>{{joggingInfo.date |  date: 'yyyy-MM-dd'}}</td>
      <td>{{joggingInfo.distance}}</td>
      <td>{{joggingInfo.timeInSeconds/60}} </td>
      <td>{{joggingInfo.distance/joggingInfo.timeInSeconds | number:'1.2-2' }}</td>
      <td>
        <a  href="#" (click)="editRecord(joggingInfo)">Edit &nbsp;</a>
        <a  href="#" (click)="deleteRecord(joggingInfo)">Delete</a>
      </td>
    </tr>

  </tbody>
</table>